<html>
    <head>

    </head>
    <body>
        <p>Hello</p>
        <br>
        <%= usernames %>
        <br>
        <a href="/new">Create user</a>
        <br>
        <a href="/search">Search for Someone</a>
    </body>
</html>