<html>
    <head>

    </head>
    <body>
        <p>Hello</p>
        <a href="/new">Create user</a>
        <!-- TMW 8/4: Connect User form using userController
         to generate correct view -->
    </body>
</html>